.Button {
  display: block;
  border: 0;
  margin: 0;
  border-radius: 2px;
  outline: 0;
  background-color: #f2795a;
  color: white;
  width: 55px;
  height: 45px;
  text-align: center;
  /* [TO DO] добавить стили убирающие рамку вокруг кнопки при фокусировании и подсветку красным */
}

.Button:focus {
  outline: 0;
}