/* mobile-first */
.Menu {
  position: relative;
  width: 90vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.toggleButton {
  position: absolute;
  top: 0px;
  right: -10vw;
  height: 100%;
  width: 10vw;
  background-color: #ffffff;
  background-image: url(../../assets/search_icon.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 4vw;
  border: 1px solid #c7cddb;
  border-right: transparent;
  border-top-left-radius: 7vw;
  border-bottom-left-radius: 7vw;
}

.shiftMenu {
  animation-name: shiftMenuSoftly;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  transform: translateX(-88vw);
}

@keyframes shiftMenuSoftly{
  0% { transform: translateX(-20vw)}
  100% { transform: translateX(-88vw)}
}

/* PC */
@media (min-width: 769px) {
  .Menu {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .toggleButton { display: none }
}