/* mobile */
.TrippleButton {
  width: 8vh;
  height: 8vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2vh 1.5vh;
  outline: 0;
}

.line {
  width: 10vw;
  height: 0.5vh;
  margin: auto;
  border-radius: 2px;
  background-color: #78829d;
}

/* PC */
@media (min-width: 769px) {
  .TrippleButton {
    width: 45px;
    height: 45px;
    padding: 7px 2px;
  }
  .line {
    width: 92%;
    height: 4px;
  }
  .hideForPC {
    display: none;
  }
}