.Workspace {
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
  padding-top: 25px;
  overflow: auto;
}

@media (min-width: 769px) {
  .Workspace {
    border-radius: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 29px 21px 21px 25px;
  }
}