/* mobile first styles */

/* Позиционирование и кастомизация левого сайдбара (mobile_first) */
.Sidebar_Left {
  z-index: 1;
  position: absolute;
  top: 8vh;
  height: 84vh;
  border-right: 3px solid lightblue;
  background-color: #19202e;
  transition: left linear 0.2s;
}

/* Позиционирование и кастомизация кнопки из второй секции в левом сайдбаре (mobile_first) */
.Button {
  background-color: transparent;
  width: 100%;
  height: 38px;
  color: #78829d;
  font-size: 0.92rem;
  text-transform: capitalize;
}

.Button:hover {
  background-color: #15a4fa;
  color: #ffffff;
}

.Button:focus {
  background-color: #15a4fa;
  color: #ffffff;
}

.hidden {
  left: -198px;
}
.showed {
  left: 0px;
}

/* sidebar sections (mobile first) */
.firstSection,
.secondSection,
.thirdSection,
.fourthSection {
  position: relative;
  background-color: #1f2637;
  width: 100%;
  padding: 0;
}

.firstSection {
  display: none;
}

.secondSection {
  min-height: 245px;
  box-shadow: 0px -1px 1px #282f41; /* тень над верхней границей */
  border-bottom: 5px solid #19202e;
}

.thirdSection {
  min-height: 186px;
  box-shadow: 0px -1px 1px #282f41; /* тень над верхней границей */
  border-bottom: 5px solid #19202e;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

.fourthSection {
  min-height: 348px;
  box-shadow: 0px -1px 1px #282f41; /* тень над верхней границей */
  margin-bottom: 0px;
  padding: 20px 10px 20px;
}

.line { /* декоротивная линия */
  height: 1px;
  width: 100%;
  background-color: #141824;
  border: none;
  position: absolute;
  bottom: 0px;
}

/* Styles for PC */
@media (min-width: 769px) {
  .Sidebar_Left {
    top: 45px;
    left: 0px;
    height: 900px;
    border: none;
  }
  .firstSection {
    height: 120px;
    border-bottom: 5px solid #19202e;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
