/* mobile first styles */

/* Позиционирование и кастомизация левого сайдбара (mobile_first) */
.Sidebar_Left {
  z-index: 1;
  position: absolute;
  top: 8vh;
  height: 84vh;
  border-right: 3px solid lightblue;
  background-color: #19202e;
}

.Sidebar_Left_hidden {
  left: -198px;
}

/* sidebar sections */
.firstSection,
.secondSection,
.thirdSection,
.fourthSection {
  background-color: #1f2637;
  width: 100%;
  padding: 0;
}

.firstSection {
  display: none;
}

.secondSection {
  height: 242px;
  border-top: 1px solid #282f41;
  border-bottom: 1px solid #141824;
  margin-bottom: 4px;
}

.thirdSection {
  height: 183px;
  border-top: 1px solid #282f41;
  border-bottom: 1px solid #141824;
  margin-bottom: 4px;
}

.fourthSection {
  height: 348px;
  border-top: 1px solid #282f41;
  margin-bottom: 0px;
}

/* Styles for PC */
@media (min-width: 769px) {
  .Sidebar_Left {
    top: 45px;
    left: 0px;
    height: 900px;
    border: none;
  }
  .firstSection {
    height: 114px;
    border-bottom: 1px solid #141824;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
