/* mobile first */
.FullNote {
  margin: auto;
  width: 290px;
  min-height: 65vh;
  border-right: 1px solid rgb(230, 229, 229);
  border-bottom: 1px solid lightgrey;
  background-color: #eef1f7;
  border-radius: 5px 15px 5px 5px;
  padding: 3px;
  background: radial-gradient(
    circle at top right,  
  #ffffff,
  #eef1f7);
}

/* Позиционирование и кастомизация маленькой заметки (для мобильной версии) */
.Node_Small {
  margin: auto;
}

/* PC */
@media (min-width: 769px) {
  .FullNote {
    margin-left: 0px;
    margin-top: 0;
    min-height: 720px;
    width: 1050px;
  }
  .Node_Small {
    margin: 0px 10px 10px 0px;
  }
}