/* mobile first */
.Search {
  display: none;
}

.mobileSearch {
  visibility: visible;
  position: absolute;
  top: 0px;
  right: 2vw;
  height: 100%;
  width: 20vw;
  background-color: #ffffff;
  border-radius: 0px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-left: 1px solid transparent;
}

.mobileSearch_show {
  visibility: visible;
  animation-name: shift;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  width: 88vw;
  height: 100%;
}
.mobileSearch_hide {
  visibility: hidden;
}

@keyframes shift{
  0% { width: 18vw}
  100% { width: 88vw}
}

/* PC */
@media (min-width: 769px) {
  /* Позиционирование и кастомизация поля ввода поиска по сайту в PC версии */
  .Search {
    display: block;
    position: absolute;
    top: 8px;
    right: 20px;
  }
  .mobileSearch,
  .mobileSearch_show {
    display: none;
  }
}
  