/* mobile first */
.App {
  width: 100%;
  height: 100vh;
  border-radius: 7px;
  background-color: #19202e;
  margin: auto;
  margin-top: 0px;
  position: relative;
}

/* Позиционирование и кастомизация верхней навигационной панели (mobile_first) */
.Nav_Top {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  height: 8vh;
}

/* Позиционирование и кастомизация нижней навигационной панели (mobile_first) */
.Nav_Bottom {
  position: absolute;
  bottom: 0px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 8vh;
}

/* Позиционирование и кастомизация основного враппера (mobile_first) */
.Wrapper_mainArea {
  position: absolute;
  height: 84vh;
  width: 100vw;
  top: 8vh;
  left: 0;
}

.topRow,
.secondRow {
  padding-left: 25px;
}

.topRow {
  position: relative;
  width: 100%;
  height: 7.1vh;
  border-bottom: 1px solid rgb(218, 223, 234);
  background-color: #eef1f7;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.secondRow {
  width: 100%;
  height: 5vh;
  border-bottom: 1px solid rgb(218, 223, 234);
  background-color: #ffffff;
}

.Workspace_mainWorkspace {
  width: 100%;
  height: 71.9vh;
}

/* Позиционирование и кастомизация кноки "добавит запись" в мобильной версии (mobile_first) */
.mobileAddEntryButton {
  position: absolute;
  top: 0.4vh;
  right: 0.8vw;
  height: 6vh;
  width: 40%;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Позиционирование и кастомизация кноки "Смотреть все записи" в мобильной версии (mobile_first) */
.browseAllEntriesButton {
  position: absolute;
  background-color: transparent;
  color: #78829d;
  top: 0.4vh;
  left: -1vw;
  height: 6vh;
  width: 60vw;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Стили для настольного ПК */
@media (min-width: 769px) {
  .App {
    width: 1320px;
    height: 990px;
    border-radius: 7px;
    background-color: #19202e;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .Nav_Top,
  .Nav_Bottom {
    height: 45px;
  }
  .Wrapper_mainArea {
    top: 45px;
    left: 200px;
    width: 1120px;
    height: 900px;
  }
  .topRow {
    height: 71px;
    font-size: 22px;
  }
  .secondRow {
    height: 50px;
  }
  .Workspace_mainWorkspace {
    width: 100%;
    height: 778px;
  }
  .mobileAddEntryButton, /* скрыть показ мобильных кнопок в PC версии */
  .mobileBrowseAllEntries {
    display: none; 
  }
  /* Позиционирование и кастомизация кноки "Смотреть все записи" в PC версии */
  .browseAllEntriesButton {
    top: 10px;
    left: -14px;
    height: 6vh;
    width: 300px;
  }
}