* { box-sizing: border-box }

html {
  font-size: 14px;
  background-color: rgb(245, 245, 245);
}

@font-face {
  font-family: 'Proxima Nova';
  src:url('./fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src:url('./fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


body { font-family: Proxima Nova, Arial, sans-serif;}