/* Для компонента Nav здесь задаются только стили определяющие его базовый внешний вид.
Позиционирование и прочая кастомизация задается в родительском компоненте. 
Из родительского компонента через пропсы передается имя css класса со стилями позиционирования. 
Таким образом базовый компонент можно использовать много раз, передавая ему нужные стили. */
.Nav {
  width: 100%;
  height: 45px;
  background-color: #2f364a;
}


/*
Позиционирование и кастомизация кнопки.
Базовые стили определяющие внешний вид кнопки находятся в компоненте Button,
а в этом компоненте, т.е. там где мы используем эту кнопку мы задаем ей стили позиционирования
и прочею кастомизацию и передаем эти стили компоненту Button в пропсах.
*/

@media (min-width: 769px) {
  .Nav {
    justify-content: center;
    padding: 0px;
  }
}