/* mobile-first */
.Editor {
  width: 100%;
  min-height: 100%;
  border: 1px solid red;
}

.SmallButton {
  color: #ffffff;
  background-color: #8c97b2;
}

/* PC */
@media (min-width: 769px) {
  .Editor {
    border: 1px solid blue;
  }
}